
<div class="wrapper wrapper_padding clearfix">
    <div class="col-1 about homepage_content">
        <h2>About</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, voluptatum quos dolorem velit molestiae delectus dicta <a href="#">aliquid</a> illum sequi hic.</p>
        <p>Laboriosam cumque, expedita doloremque. Voluptate ipsum, doloribus obcaecati placeat non perspiciatis totam sapiente laudantium doloremque unde molestias soluta, quis! Eveniet.</p>
        <p>Doloribus pariatur deleniti nesciunt culpa commodi ea libero corporis officia itaque! Atque beatae ipsa nostrum quos doloremque praesentium laudantium rerum.</p>
    </div>
    <div class="col-2 homepage_content">
        <h2>Stuff I've Written</h2>
        <hr>

		<% @posts.each do |post| %>
			<h3><a href="#"><%= link_to post.title, post %></a></h3>
        	<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
		<% end %>
    </div>
    <div class="col-3 homepage_content">
        <h2>Stuff I've Built</h2>
        <hr>
        <h3><a href="#">Logo</a></h3>
        <p class="date">6月13日（金）</p>
        <h3><a href="#">Homepage</a></h3>
        <p class="date">6月13日（金）</p>
        <h3><a href="#">Trẻ con</a></h3>
        <p class="date">6月13日（金）</p>
    </div>
</div>